body {font-family: system-ui, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
    margin-top: 50px;
   }
 
.main {
display: inline-block;
width: 1000px;
 margin: 0 calc(50% - 500px) 60px;
   }

.images {
 width: 40%;
 display: inline-block;
}

.logoone {
    width: 25%;
    margin-left: 30px;
}

.logotwo {
    width: 25%;
    margin-left: 30px;
}
.logothree {
    width: 25%;
    margin-left: 30px;
}
.logofour {
    width: 25%;
    margin-left: 30px;
}

.title {
    display: inline-block;
    text-transform: uppercase;
}