body {font-family: system-ui, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
   }
 
.main {
display: inline-block;
width: 1000px;
 margin: 0 calc(50% - 500px) 0;
   }

.images {
    width: 110%;
    display: inline-flex;
    flex-direction: row;
    margin-left: -50px;
    margin-bottom: 0;
    margin-top: 50px;
}

.logoone {
    width: 25%;
    margin-left: 30px;
}

.logotwo {
    width: 25%;
    margin-left: 30px;
}
.logothree {
    width: 25%;
    margin-left: 30px;
}
.logofour {
    width: 25%;
    margin-left: 30px;
}

.title {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    color: red;
    gap: 100px;
    margin-left: 20px;
}


.paragraf {
    width: 105%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    gap: 50px
}