body {font-family: system-ui, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
   }
 
.main {
display: inline-block;
width: 1000px;
 margin: 0 calc(50% - 500px) 0;
   }

.images {
    width: 140%;
    display: inline-flex;
    flex-direction: row;
    margin-left: -210px;
    margin-bottom: 0;
    margin-top: 50px;
    gap: 40px;
}

.logoone {
    width: 25%;
    margin-left: 30px;
}

.logotwo {
    width: 25%;
    margin-left: 30px;
}
.logothree {
    width: 25%;
    margin-left: 30px;
}
.logofour {
    width: 25%;
    margin-left: 30px;
}

.title {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    color: red;
    gap: 100px;
    margin-left: -90px;
}

.two {
    margin-left: 80px;
}

.three {
    margin-left: 50px;
}

.four {
    margin-left: 100px;
}

.paragraf {
    width: 135%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    gap: 90px;
    margin-left: -170px;
}

.pq {
    margin-right: 10px;
}
.pw {
    margin-left: 0px;
}

.pe {
    margin-left: 0px
}